/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  padding: 3rem 0;
}

.hero-container {
  width: 80%;
  max-width: 1300px;
  margin-bottom: 2rem;
}
