.button {
  display: block;
  width: 100%;
  border: solid 0.5px #404040;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-black);
  background-color: var(--mantine-color-white);

  &:hover {
    border: solid 0.5px #808080;
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    color: var(--mantine-theme-dark-0);
    background-color: var(--mantine-color-dark-6);

    &:hover {
      background-color: var(--mantine-color-dark-4);
    }
  }
}

.icon-container > * {
  height: inherit;
}
