.ag-theme-alpine-dark {
  /* --ag-foreground-color: rgb(126, 46, 132); */
  --ag-header-background-color: var(--mantine-color-dark-4);
  --ag-background-color: var(--mantine-color-dark-8);
  --ag-odd-row-background-color: var(--mantine-color-dark-6);
  /* --ag-header-foreground-color: rgb(204, 245, 172); */
  /* --ag-header-column-resize-handle-color: rgb(126, 46, 132); */

  --ag-font-size: 15px;
  --ag-font-family: monospace;
}
